body {
    margin: 0;
    padding: 0;
    background-color: #76c2c2;
    color: #777;
    font-family: 'Open Sans', sans-serif;
}

#topHeader {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: -2px 3px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 22px -2px rgba(0, 0, 0, 0.75);
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;

}

#logo i {
    padding: 3px;
}

.menu {
    display: none;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    cursor: pointer;

}

.menu ul li {
    margin: 5px 10px;
}

.menu ul li a {
    text-decoration: none;
}

.menu ul li a i {

    padding-right: 7px;
}

.menu ul li a:hover {
    transition: 0.3s;
    border-bottom: 2px solid purple;
}

.profile ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    cursor: pointer;
    padding: 0 10px;
}


.profile ul li {
    margin: 5px 10px;
}

.profile ul li i:hover {
    transition: 0.5s;
    transform: rotate(360deg);
    color: red;
}

.profile ul li span:hover {
    color: red;
}

#main {
    display: flex;
    margin: 20px;
    /* background-color: salmon; */
    justify-content: flex-end;
}

.right {
    display: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.right-head {
    padding: 15px;
}

.photo img {
    display: flex;
    width: 100%;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 10px auto;
}

.photo:hover {
    background-color: darkgrey;
    transition: 0.3s;
}

.photo h3,
p {
    text-align: center;
    color: black;
}

.photo h3:hover {
    transition: 0.3s;
    transform: scale(1.15);
    cursor: pointer;
}

.active {
    background: #F0F2F2;


    text-align: center;
}

.active i {
    padding-left: 5px;
}

.box {
    display: flex;
    flex-direction: column;
}

.box span:not(.active) {
    color: white;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    margin-right: 30px;

}

.box span:not(.active):hover {
    transition: 0.4s;
    padding-right: 15px;
    color: black;
}


.left {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #7ba2f7da;
}

.chatbox {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.chatbox-active {
    background-color: rgb(103, 218, 218);
}

.chatbox:last-child {
    border-bottom: none;
}

.chat-header {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.chat-header:hover,
.chat-header i:hover {
    transition: 0.5s;
    background-color: #FEBF63;
    color: black;
}

.chat-header i {
    color: red;
    font-size: 30px;
    padding: 15px;

}


.left-container {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    background-color: white;
    padding: 1%;
}


.left-menu {
    width: 30%;
    border-right: 1px solid gray;
    padding-right: 13px;
}

.chats-left-header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border: 1px solid gray;
}

.chats-left-header:hover {
    cursor: pointer;
    background-color: cornsilk;
}

.left-posts {
    width: 70%;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%
}

.first img {
    height: 35px;
    border-radius: 20px;
}

.text {
    display: none;
}

.second {
    display: none;
}

.left-posts-header {
    cursor: pointer;
    padding: 4px;
    border-bottom: 1px solid gray;
}

.left-posts-header>span:hover {
    background-color: rgb(230, 93, 127);
    color: black;
    padding: 2px;
    transition: 0.3s;
}

.left-posts-header>i {
    color: gold;
    margin-left: 12px;
}

.left-posts-content-one {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #E6FEF6;
    width: 50%;
    text-align: right;
    border-radius: 10px;
}

.left-posts-content-one img {
    height: 25px;
    border-radius: 35px;
    border: 1px solid black;
    margin-left: 5px;
}

.left-posts-content-two {
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #E6FEF6;
    width: 50%;
    text-align:left;
    border-radius: 10px;
}

.left-posts-content-two img {
    height: 25px;
    border-radius: 35px;
    border: 1px solid black;
    margin-right: 5px;
}
@media (min-width: 968px) {
    .right {
        display: flex;
        background-color: gray;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .second {
        display: flex;
        font-size: 70%;
        justify-content: space-between;
        margin: 0 3px;
        color: rgb(252, 49, 150);
    }

    .text {
        display: flex;
    }
}